.cartImg{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    mix-blend-mode: darken;
}

.imgAndHeading {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.otherTools{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.increase, .decrease, .remove{
    border: none;

}
